WConsumirServico/WAssociado/Service References/SMensalidade/SMensalidade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Incluir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eMensalidade" type="tns:EMensalidade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EMensalidade">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Identficador_Mensalidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Associado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Associado" type="tns:EAssociado" />
          <s:element minOccurs="0" maxOccurs="1" name="Referencia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataVencimento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataPagamento" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorMensalidade" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ValorPagamento" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EAssociado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="identificador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoAssociado" type="tns:ETipoAssociado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ETipoAssociado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="identificador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="valorMensalidade" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="IncluirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IncluirResult" type="tns:EMensalidade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Alterar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eMensalidade" type="tns:EMensalidade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AlterarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Excluir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoMensalidade" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcluirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExcluirResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Consultar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoMensalidade" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarResult" type="tns:EMensalidade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigoAssociado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult" type="tns:ArrayOfEMensalidade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEMensalidade">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EMensalidade" nillable="true" type="tns:EMensalidade" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IncluirSoapIn">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="IncluirSoapOut">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarSoapIn">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="AlterarSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ExcluirSoapIn">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ExcluirSoapOut">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarSoapIn">
    <wsdl:part name="parameters" element="tns:Consultar" />
  </wsdl:message>
  <wsdl:message name="ConsultarSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="SMensalidadeSoap">
    <wsdl:operation name="Incluir">
      <wsdl:input message="tns:IncluirSoapIn" />
      <wsdl:output message="tns:IncluirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input message="tns:AlterarSoapIn" />
      <wsdl:output message="tns:AlterarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input message="tns:ExcluirSoapIn" />
      <wsdl:output message="tns:ExcluirSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <wsdl:input message="tns:ConsultarSoapIn" />
      <wsdl:output message="tns:ConsultarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMensalidadeSoap" type="tns:SMensalidadeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap:operation soapAction="http://tempuri.org/Consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SMensalidadeSoap12" type="tns:SMensalidadeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap12:operation soapAction="http://tempuri.org/Incluir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap12:operation soapAction="http://tempuri.org/Alterar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap12:operation soapAction="http://tempuri.org/Excluir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultar">
      <soap12:operation soapAction="http://tempuri.org/Consultar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMensalidade">
    <wsdl:port name="SMensalidadeSoap" binding="tns:SMensalidadeSoap">
      <soap:address location="http://localhost:1670/SMensalidade.asmx" />
    </wsdl:port>
    <wsdl:port name="SMensalidadeSoap12" binding="tns:SMensalidadeSoap12">
      <soap12:address location="http://localhost:1670/SMensalidade.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>